@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  transition: transform 700ms cubic-bezier(.13, .53, .38, .97);
  z-index: 2;
  position: relative;
}

.navTransition {
  transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

.moveUp {
  transform-box: view-box;
  transform: translateY(-65svh);
}

.linkWrapperDefault {
  transform: translateY(20%) scale(.9);
}

.linkWrapperOpen {
  transform: translateY(0%) scale(1);
}

.shadowButton {
  box-shadow: 10px 40px 70px -4px rgba(0,0,0,.7);

}